name : Deploy

on : 
  push:

jobs :
  deploy:
    runs-on : ubuntu-latest
    steps:
      - name: checkout code
        uses : actions/checkout@v4
      - run : docker build -t ${{secrets.DOCKER_HUB_USER_NAME}}/test-docker .
      - run : echo "${{secrets.DOCKER_HUB_PASSWORD}}" | docker login -u ${{secrets.DOCKER_HUB_USER_NAME}} --password-stdin
      - run : docker push ${{secrets.DOCKER_HUB_USER_NAME}}/test-docker:latest
      - run : docker run ${{secrets.DOCKER_HUB_USER_NAME}}/test-docker:latest