name : Deploy

on : 
  push:

jobs :
  deploy:
    runs-on : ubuntu-latest
    steps:
      - name: checkout code
        uses : actions/checkout@v4
      - run : docker build -t prashanthere/test-docker .
      - run : echo "${{secrets.DOCKER_HUB_PASSWORD}}" | docker login -u ${{secrets.DOCKER_HUB_USERNAME}} --pasword-stdin
      - run : docker push prashanthere/test-docker:latest